<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.mofada.update_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application android:supportsRtl="true" xmlns:tools="http://schemas.android.com/tools">
        <receiver
            android:name=".UpdateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.updateprovider"
            android:exported="false"
            tools:replace="android:authorities"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_path"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>
